/** La clase body es para formatear los estilos por defecto y darle color de fondo */
body {
  background-color: #e2e1e2;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/** La clase img se encarga de darle ancho y largo a la imagen principal */
img {
  width: 300px;
  height: 340px;
}

/** La clase btn-index se encarga de darle estilos a los botones de Registrar
    Usuario e Ingresar Al Sistema */
.btn-index {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edd4f6;
  font-size: 15px;
  border: 1px solid #493b27;
  width: 170px;
  height: 40px;
  border-radius: 20px;
  background: #ebd6de;
  background: linear-gradient(to left, #e79c87 0%, #c691c2 40%, #8f7ad7 100%);
  font-weight: 400;
  transition: all;
  transition-duration: 400ms;
}
.btn-index:hover {
  background-color: white;
  color: #493b27;
  border: 2px solid #8f7ad7;
  font-weight: 400;
  width: 170px;
  height: 40px;
  transition: all;
  transition-duration: 400ms;
}


/**botstrap**/

.carousel-item {
    max-height: 700px;
}

.container-fluid {
    background-color: rgb(13, 253, 193);
    max-height: 600px;
    margin: 0 auto;
 
}
.img-fluid {
  max-width: 500px; 
  max-height: 500px;
}

.img-logo {
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.btn {
  margin-left: 20px;
}

.card-img-top {
  max-width: 300px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-self: center;
}

/*gestion*/
 
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.action-buttons {
  display: flex;
  gap: 10px;
}
.action-buttons button {
  border: none;
  background: none;
  cursor: pointer;
}
