<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" href="/img/favicon.ico" rel="shortcut icon" />
    <title>Gori-Productos</title>
    <!--botstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/productos.css" />
    <!--
    <script src="https://cdn.tailwindcss.com"></script>-->
    <!-- <script src="/js/index.js" type="module"></script> -->
    <!--carrito-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
      defer
    ></script>
    <script src="js/registrarProducto.js" type="module" defer></script>
  </head>
  <body>
    <!--Barra-->
    <nav class="navbar navbar-expand-md bg-body-tertiary">
      <div class="container-fluid py-3 d-flex flex-row">
        <a class="navbar-brand text-xl-center" href="/comprar-productos"
          ><b>Gori</b><i class="bi bi-cart-dash">Shop</i></a
        >

        <button
          class="navbar-toggler d-md-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <form class="d-flex ms-3" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar equipos"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Buscar
            </button>
          </form>
        </div>

        <!-- De la linea 67-94 es tu codigo de carrito -->
        <!-- <div class="collapse navbar-collapse" id="navbarNav">
          <ul
            class="navbar-nav flex-column flex-md-row justify-content-between align-items-center w-100"
          >
            <li class="nav-item d-none d-md-flex">
              <img src="../../img/carrito.png" id="img-carrito" alt="" />
              <div id="carrito">
                <table id="lista-carrito" class="table">
                  <thead>
                    <tr>
                      <th>Imagen</th>
                      <th>Nombre</th>
                      <th>Precio</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
                <a href="#" id="procesar-pedido" class="btn btn-success btn-lg"
                  >Comprar</a
                >
                <a href="#" id="vaciar-carrito" class="btn btn-success btn-lg"
                  >Vaciar Carrito</a
                >
              </div>
            </li>
          </ul>
        </div> -->

        <!-- La linea 99 muestra el nombre del usuario activo -->
        <div
          id="nombre-usuario-activo"
          class="navbar-brand text-xl-center"
        ></div>
      </div>
    </nav>

    <main class="py-5 bg-light">
      <section class="container mx-auto">
        <form class="" method="post" id="form-registrar-nuevo-producto">
          <div class="form-group mb-3">
            <label for="nombre-producto">Nombre del producto</label>
            <input
              type="text"
              class="form-control"
              id="nombre-producto"
              placeholder="Ejemplo: telefono"
            />
          </div>


          <div class="form-group mb-3 d-flex flex-column">
            <label for="nombre-producto">Cuantas versiones tiene?</label>
            <div class="d-flex flex-row">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="version-uno"
                  value="option1"
                />
                <label class="form-check-label" for="version-uno">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="version-dos"
                  value="option2"
                />
                <label class="form-check-label" for="version-dos">2</label>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="nombre-producto">Memoria Ram</label>
              <input
                id="ram-version-uno"
                type="text"
                class="form-control"
                placeholder="8gb"
              />
              <label for="nombre-producto">Memoria Rom</label>
              <input
                id="rom-version-uno"
                type="text"
                class="form-control"
                placeholder="8gb"
              />
            </div>
            <div class="col">
              <label for="nombre-producto">Memoria Ram</label>
              <input
                id="ram-version-dos"
                type="text"
                class="form-control"
                placeholder="8gb"
              />
              <label for="nombre-producto">Memoria Rom</label>
              <input
                id="rmm-version-dos"
                type="text"
                class="form-control"
                placeholder="8gb"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="precio-producto-uno">Precio version uno ($)</label>
              <input
                id="precio-version-uno"
                type="text"
                class="form-control"
                placeholder="0.00"
              />
            </div>
            <div class="col">
              <label for="precio-producto-uno">Precio version dos ($)</label>
              <input
                id="precio-version-dos"
                type="text"
                class="form-control"
                placeholder="0.00"
              />
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="nombre-producto">Tamaño pantalla </label>
            <input
              type="text"
              class="form-control"
              id="size-pantalla"
              placeholder="Pulgadas"
            />
          </div>

          <div class="form-group mb-3">
            <label for="nombre-producto">Resolucion</label>
            <input
              type="text"
              class="form-control"
              id="resolucion"
              placeholder="Ejemplo: 16"
            />
          </div>

          <div class="form-group mb-3">
            <label for="nombre-producto">Procesador</label>
            <input
              type="text"
              class="form-control"
              id="procesador"
              placeholder="Ejemplo: snapdragon"
            />
          </div>

          <div class="form-group mb-3">
            <label for="nombre-producto">Bateria</label>
            <input
              type="text"
              class="form-control"
              id="bateria"
              placeholder="mhap"
            />
          </div>

          <div class="form-group mb-3">
            <label for="nombre-producto">Camara</label>
            <input
              type="text"
              class="form-control"
              id="camara"
              placeholder="Ejemplo: 16"
            />
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="categoria">Options</label>
            </div>
            <select class="custom-select" id="categoria">
              <option selected>seleccionar</option>
              <option value="1">Telefono</option>
              <option value="2">Tablet</option>
              <option value="3">Laptop</option>
            </select>
          </div>

          <div class="my-3">
            <div class="text-center mt-5 mb-5">
              <button type="submit" class="btn btn-success btn-lg">
                Agregar producto <i class="bi bi-cart4"></i>
              </button>
            </div>
          </div>

        </form>
      </section>
    </main>

    <!--pie-->
    <footer>
      <div class="container-fluid py-4">
        <div class="row">
          <div class="text-center">
            <h2><b>Gori</b><i class="bi bi-cart-dash">Shop</i></h2>
            <p>Contactanos y visita nuestras redes sociales</p>
          </div>

          <!--columnas pie-->
          <div class="col-md-6 text-center">
            <div><h4>Contactos</h4></div>
            <div>
              <i class="bi bi-whatsapp"></i
              ><a class="text-decoration-none" href=""> +58 000-000.00.00</a>
            </div>
            <div>
              <i class="bi bi-telegram"></i
              ><a class="text-decoration-none" href=""> +58 000-000.00.00</a>
            </div>
          </div>

          <div class="col-md-6 text-center">
            <div><h4>Redes Sociales</h4></div>
            <div>
              <i class="bi bi-facebook"></i
              ><a class="text-decoration-none" href=""> Gori-Shop</a>
            </div>
            <div>
              <i class="bi bi-instagram"></i
              ><a class="text-decoration-none" href=""> @Gori-Shop</a>
            </div>
          </div>
        </div>
        <p class="text-center">©2025 Gori-Shop</p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
