<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" href="/img/favicon.ico" rel="shortcut icon" />
    <title>Validar usuario</title>
    <!-- <link rel="stylesheet" href="/css/usuarios.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/validarNuevoUsuario.js" type="module" defer></script>
  </head>
  <body>
    <!-- Esta vista ofrece el registro de usuarios -->
    <section class="container mx-auto my-10 w-full h-screen max-w-[600px] flex flex-col items-center justify-center">
        <h2 class="text-[#8f7ad7] text-center text-2xl my-5 font-[600]">
          Validacion exitosa, ahora puede iniciar sesion
        </h2>

        <div>
            <button type="button" id="validado">Login</button>
        </div>
    </section>
  </body>
</html>
